*.Editor.csproj
*.booproj
*.collabignore
*.csproj
*.log
*.pidb
*.sln
*.suo
*.svd
*.tmp
*.txt~
*.unityproj
*.user
*.userprefs
*.vs
.idea/
.vs
Build
EditorUserSettings.asset
GPUCache
Library
Library/
Temp
Temp/
VTSDKtemp
VTSDKtemp.meta
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
default-2021.dwlt
obj
tmp/
